# K-NEAREST NEIGHBOR.

In [2]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from collections import Counter

In [3]:
data=pd.read_csv("car_evaluation.csv")
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
Counter(data.outcome) #unacc unacceptable

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [6]:
data.shape

(1728, 7)

In [7]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [8]:
x=data.iloc[:,:-1]
x.head()

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med

In [9]:
y=data.outcome

In [11]:
enc = LabelEncoder()
x.buying=enc.fit_transform(x.buying)
x.maint=enc.fit_transform(x.maint)
x.lug_boot=enc.fit_transform(x.lug_boot)
x.safety=enc.fit_transform(x.safety)
x.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=10)

In [14]:
model=KNeighborsClassifier(n_neighbors=5)
model.fit(x_train,y_train)
y_predict=model.predict(x_test)

In [15]:
accuracy_score(y_test,y_predict)

0.9421296296296297

In [17]:
print(Counter(y_test))
pd.crosstab(y_test,y_predict)

Counter({'unacc': 307, 'acc': 84, 'vgood': 22, 'good': 19})

col_0    acc  good  unacc  vgood
outcome
acc       77     1      6      0
good       5    14      0      0
unacc      3     0    304      0
vgood      7     2      1     12